---
title: Comment nous trouver
---

<div class="bg-primary padded text-center">
  <h2>L'equipe</h2>
  <br>
  <ul class="list-inline">
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>Ag</h3>
    </li>
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>Didit</h3>
    </li>
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>Newton</h3>
    </li>
  </ul>
</div>

<div class="padded text-center">
  <h2>Contact us</h2>
  <h3><i class="fa fa-phone"></i> +33 6 42 42 42 42</h3>
  <h3><i class="fa fa-envelope"></i> <a href="mailto:contact@bilan-neuropsy.com">contact@bilan-neuropsy.com</a></h3>
</div>
